<!DOCTYPE html>
<html>
  <head>
    <title>RailsWerkit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
        <a href="about">about</a>
        <a href="today">today</a>
        <a href="trends">trends</a>
        <a href="goals">goals</a>
        <a href="settings">settings</a>
    </div>

    <%= yield %>
  </body>
</html>
